<%- include ('partials/header') %>

<div class="container">
  <div class="jumbotron" style="padding-top: 20px;padding-bottom: 20px;margin-top: 40px;opacity: 0.8;">
    <h1 style="text-align: center" class>Enter Checkout Email</h1>
    <form style="padding-top: 25px; padding-bottom: 30px;" action="/checkout" method="POST">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Email</label>
            <input name="mail" type="email" class="form-control" placeholder="Enter Email To Check Out" required>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Address</label>
            <input name="address" type="text" class="form-control" placeholder="Address" required>
          </div>
        </div>
      </div>
      <br>
      <div style="text-align: center;">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>

    </form>

    <a class="btn btn-info" href="/">&lt; Go Back</a>
  </div>
</div>
<%- include ('partials/footer') %>